apiVersion: v1
kind: Service
metadata:
  name: book-catalog
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
  selector:
    app: book-catalog
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: book-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: book-catalog
  template:
    metadata:
      labels:
        app: book-catalog
    spec:
      containers:
        - name: book-catalog
          image: book-catalog:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
            - containerPort: 8081
          env:
            - name: DATABASE_URL
              valueFrom:
                configMapKeyRef:
                  name: book-config
                  key: DATABASE_URL
            - name: DATABASE_USER
              valueFrom:
                configMapKeyRef:
                  name: book-config
                  key: DATABASE_USER
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: book-secrets
                  key: DATABASE_PASSWORD
          # Comment this out so the CMD from the Dockefile is run
          # command: ["java", "-jar", "book-catalog-1.0-SNAPSHOT.jar", "server", "src/main/resources/config.yaml"]
          # Or you could match the name in the docker file
          # command: ["java", "-jar", "app.jar", "server", "src/main/resources/config.yaml"]
          # Or more likely
          # command: ["java", "-jar", "app.jar", "server", "config.yaml"]